<div class='chat_msg <%=msg[:type]%>' data-msg_id="<%=msg[:_id]%>" data-date="<%=msg[:created_at]%>">    
    <a target=blank href='/users/<%=msg[:user_id]%>' class='chat_name'>
      <span class='chat_user_img'><img src="<%=msg[:img_url]%>" /> </span>
      <span class='user_type'> <%=user_type_logo(msg[:type]) %>  </span>
      <span class='user_name'> <%=msg[:name]%> </span>
      <span class='user_name'> (<%=msg[:type]%>)</span>

    </a> 
    <span class='chat_msg_content'><%= escape_html msg[:message] %> </span>
    <span class="chat_date" data-date="<%=msg[:created_at]%>"><%=time_ago msg[:created_at]%></span>
    <% if msg[:user_id] == cuid %>
    <button onclick='$.post("/chat/delete_msg",{msg_id: "<%=msg[:_id]%>"}).then(res=>$(this).closest(".chat_msg").remove())'>x</button>
    <% end %>
  </div>