<h1> Location </h1>

<%#= loc.to_json %>
<style>
.edit_location_form {
  width: 700px;  
  margin-left: auto;
  margin-right: auto;

}
.edit_location_form label {
  width: 100px;  
  
}
.location_input {
  margin-bottom:5px;
}
</style>

<%= erb :'me/profile_tabs', locals: {is_seller: true, sec: 'locations'} %> 
<div class='edit_location_form'>
  <form method=post action="/locations/<%=loc[:_id]%>">
    <div class='location_input'><label> Name </label> <input name=name value="<%=loc[:name]%>"> </div>
    
    <div class='location_input'><label> Address </label> <input name=address value="<%=loc[:address]%>"> </div>
    
    <div class='location_input'><label> Type </label> <input name=type value="<%=loc[:type]%>"> </div>

    <button class='btn btn-raised btn-primary'>Submit </button>
  </form>
</div>