<%
  products = $casts.all(user_id: cuid) || 
  first_product_id = (products[0] || {})[:_id]
  default_empty_item = [{product_id: first_product_id, quantity: 0}]
  items    = loc[:items] || default_empty_item

  items = default_empty_item unless items.is_a?(Array)
%>

<%#= loc.to_json %>
<style>
.center_form {
  width: 800px;  
  margin-left: auto;
  margin-right: auto;

}
.edit_location_form label {
  width: 100px;  
  
}
.location_input {
  margin-bottom:5px;
}
.single_location_item_list {

}
</style>
<br/>
<%= erb :'me/profile_tabs', locals: {is_seller: true, sec: 'locations'} %> 
<div class='center_form'>
  <div class='edit_location_form'>
    <h1> Location: <%= loc[:name] %> </h1>
    <form method=post action="/locations/<%=loc[:_id]%>">
      <div class='location_input'><label> Name </label> <input name=name value="<%=loc[:name]%>"> </div>
      
      <div class='location_input'><label> Address </label> <input name=address value="<%=loc[:address]%>"> </div>
      
      <div class='location_input'><label> Type </label> <input name=type value="<%=loc[:type]%>"> </div>

      <button class='btn btn-raised btn-primary'>Update Location Details </button>
    </form>
  </div>

  <hr/>

<h2> Location Stock </h2>
  <div class='all_location_items'>    
    <% items.each do |item| %>
      <div class='single_location_item_list'>
          <select class=location_items_selector name=product_id>
            <% products.each do |product| %>
              <option value="<%=product[:_id]%>" <%="selected" if product[:_id] == item[:product_id] %>>
                <%=product[:title]%> 
                <%#= product.to_json %>
              </option>           
            <% end %>
          </select>    
           <label> Quantity </label>
           <input name=quantity value="<%=item[:quantity]%>" type=number />     
           <label> Notes </label>
           <input name=notes value="<%=item[:notes]%>" ></input>
      </div>
    <% end %>
  </div>
    <br/>
    <button class='btn btn-raised btn-primary' onclick=updateLocationItems();> Save Location Items </button>
    <button class='btn btn-primary' onclick=copyLastLocationItem()> + Add Item </button>
  

  <script>
    function copyLastLocationItem() {
      var z = $(".single_location_item_list").last().clone(); 
      $(".single_location_item_list").parent().append(z);
    }

    function updateLocationItems() {
      var items = $('.single_location_item_list').toArray().map(el => ({product_id: $(el).find('select').val(), quantity: $(el).find('input').val(), notes: $(el).find('input[name=notes]').val()}));

      $.post('/locations/<%=loc[:_id]%>',{items, ajax: true}).then(z => alert('Location items updated.'));
    }
  </script>
</div>