<%
  payouts = $payouts.get_many(user_id: cuid)
%>
<div class='display_flex'>
  <label> Email: </label>
  <input style='border:none' disabled readonly style='color: black; font-weight: bold; text-align: left' value="<%= user['email'] %>" />
  <!-- <span>We won't show this to anybody.</span> -->
  </div>

  <br/>

  <div class='display_flex' style='margin-top:20px'>
    <%#= user.to_json %>
    <label> Cannabis License </label>
    <input name=license_url      class=license_url value="<%=user['license_url']%>" hidden />    
    <input name=license_filename class=license_filename value="<%=user['license_filename']%>" hidden /> 
    
    <div>
      <button type=button class='btn btn-raised btn-primary' onclick=submitLicense()> Click to upload</button>
      <a class='simple_link license_url' href='<%=user['license_url']%>' target=_blank><%=user['license_filename']%></a>

    </div>
    
    
  </div>

  <br/>

  <div class='display_flex'>                  
    <label> Username <div></div></label>
    <input class='input1' placeholder='' value="<%=user['name']%>" name='name' style='margin-right: 5px; margin-left: 0'/>
    <!-- <span> This is what you'll be known as.</span> -->
  </div>

  <br/> 

  <% if false %>
  <div class='display_flex'>                  
    <label> Title <div></div> </label>
    <input class='input1' placeholder='I am...' value="<%=user['title']%>" name='title' style='margin-right: 5px; margin-left: 0'/>
    <!-- <span> Describe your title. </span> -->
  </div>
  <% end %>
  
  <br/> 

  <div class='display_flex'>
    <label> Payment Details </label>
    <textarea name=payout_info placeholder="How should we pay you? We support Paypal, Venmo, Bit, and bank transfers." value=""><%=user['payout_info']%></textarea> 
    <!-- <span>Use #hashtags like #actor or #dance_teacher</span> -->    
  </div>
  <br/>

  <div class='display_flex'>
    <label> Language </label>
    <select name=lang style='margin-right: 0px; margin-left: 0; margin-top:0px'>
      <% LANGUAGES.each do |opt| %>
        <option value="<%=opt[:val]%>" <%="selected" if cu[:lang]==opt[:val]%> >
          <%= opt[:label] %>
        </option>
      <% end %>
    </select>
    <!-- <span> </span> -->
  </div>

  <% if false %>
  <div class='display_flex'>
    <label> How To Contact You </label>
    <textarea name=contact placeholder="Contact me at..." value=""><%=user['contact']%></textarea> 
    <!-- <span>Your public email, Facebook, Instagram, Twitter, phone, Whatsapp, or whatever you want.</span> -->
  </div>
  <br/>

  <% end %>
  <% if false %>
  <div class='display_flex'>
    <label style='flex:2'> Username </label>
    https://nowcast.co/<input class='input1 ltr' placeholder='' value="<%=cu['handle']%>" name='handle' style='margin-right: 0px; margin-left: 0'/>
    <!-- <span> </span> -->
  </div>
  <% end %>

  <hr/>
  <div class='display_flex'>
  <label> Payouts </label>
    <% if payouts.any? %>
      <% payouts.each do |payout| %>
        <div class='single_payout'>
          <div>Amount: <%= payout[:amount] %></div>
          <div>Time: <%= payout[:created_at] %></div>
          <div>Notes: <%= payout[:created_at] %></div>
        </div>
      <% end %>
    <% else %>  
    <div> We have not paid you out anything yet.</div>
    <% end %>
  </div>
  

<br/>
      <div class=ct>
        <button onclick='$("#me_form").submit()' class='btn btn-raised btn-info'>Save</button>
      </div>
      
<script>
function submitLicense() {
  filestackUpload(res => {
    $('.license_url').val(res.url);
    $('a.license_url').attr('href',res.url).text(res.filename);
    $('.license_filename').val(res.filename);
  });
}
</script>

  <!-- <label> Vimeo ID </label>
  <input class='input1 ltr' placeholder='' value="<%=cu['vimeo_id']%>" name='vimeo_id' style='margin-right: 0px; margin-left: 0'/>
  <br/> -->      
  <%#= erb :'me/my_referrals', locals: {user: user} %>            