<style>
@media (min-width: 800px) {
  .profile_tabs {
    position: absolute;
    /*border:1px solid black;    */
  }
  .profile_tabs a {
    display: block;
    border:3px solid whitesmoke;
    border-radius: 4px;
  }
}

</style>
 <div class='profile_tabs' style='margin-bottom: 50px; text-align: center; direction: ltr'>
  <% if is_seller %>
    <a class='btn <%= "chosen_me_form_link" if sec == "customers" %>' href='/me?sec=customers'><i class='fal fa-users'></i> Customers </a>

    <a class='btn <%= "chosen_me_form_link" if sec == "by_me" %>' href='/me?sec=by_me'><i class='fal fa-cannabis'></i> Products for Sale </a>

    <a class='btn <%= "chosen_me_form_link" if sec == "locations" %>' href='/me?sec=locations'><i class='fal fa-warehouse'></i> Locations </a>


  <% end %>
  <a class='btn <%= "chosen_me_form_link" if sec == "for_me" %>' href='/me?sec=for_me'><i class='fal fa-user-graduate'></i> Orders </a>
  <!-- <a class='btn <%= "chosen_me_form_link" if sec == "my_referrals" %>' href='/me?sec=my_referrals'> My Referrals </a> -->
  
  <a class='btn <%= "chosen_me_form_link" if sec == "profile" %>' href='/me?sec=profile'><i class='fal fa-user'></i> Profile </a>


  <a class='btn <%= "chosen_me_form_link" if sec == "account" %>' href='/me?sec=account'><i class='fal fa-street-view'></i> Account </a>
  
  <% if is_seller %>
  <a class='btn' target=_blank href='/@<%=cu['handle']%>'>
     <i class='fa fa-external-link' style='margin-right: 5px'></i> My Page
  </a>    
  <% end %>
</div>