<style>
@media (min-width: 800px) {
  .profile_tabs {
    position: absolute;
    /*border:1px solid black;    */
  }
  .profile_tabs a {
    display: flex;
    border:3px solid whitesmoke;
    border-radius: 4px;
  }
}

.profile_tabs i {
  margin-right: 10px;
}
.profile_tabs a {
  display: flex;
}
.profile_tabs a:hover {
  color: #00b140;
}
.chosen_me_form_link {
  font-weight: bold;
  background-color: whitesmoke;
  border-bottom: 3px solid green;
  color: green !important;
}

</style>

 <div class='profile_tabs' style='margin-bottom: 50px; text-align: center; direction: ltr'>
    <a class='profile_tab btn <%= "chosen_me_form_link" if sec == "profile" %>' href='/me?sec=profile'><i class='fal fa-user'></i> Profile </a>

  <% if is_seller %>
    <a style='display: none' class='profile_tab btn <%= "chosen_me_form_link" if sec == "dashboard" %>' href='/me?sec=dashboard'><i class='fal fa-chart-pie'></i> Dashboard </a>
    
    <a class='profile_tab btn <%= "chosen_me_form_link" if sec == "by_me" %>' href='/me?sec=by_me'><i class='fal fa-cannabis'></i> Products (<%=$casts.count(user_id: cuid)%>)</a>
    
    <a class='profile_tab btn <%= "chosen_me_form_link" if sec == "locations" %>' href='/me?sec=locations'><i class='fal fa-warehouse'></i> Locations (<%=$locations.count(user_id: cuid)%>)</a>    

    <a class='profile_tab btn <%= "chosen_me_form_link" if sec == "customers" %>' href='/me?sec=customers'><i class='fal fa-users'></i> Customers (<%=$customers.count(user_id: cuid)%>)</a>    
  <% end %>
  <!-- <a class='profile_tab btn <%= "chosen_me_form_link" if sec == "convos" %>' href='/me?sec=convos'><i class='fal fa-comment-alt-dots'></i> Conversations </a> -->
    
  <a class='profile_tab btn <%= "chosen_me_form_link" if sec == "for_me" %>' href='/me?sec=for_me'><i class='fal fa-user-graduate'></i> Orders <%#=my_sales(cuid).count%></a>
  <!-- <a class='profile_tab btn <%= "chosen_me_form_link" if sec == "my_referrals" %>' href='/me?sec=my_referrals'> My Referrals </a> -->
  
  <% if false && is_seller %>
    <a class='profile_tab btn <%= "chosen_me_form_link" if sec == "stats" %>' href='/me?sec=stats'><i class='fal fa-chart-line'></i> Stats </a>
  <% end %>
  


  <a class='profile_tab btn <%= "chosen_me_form_link" if sec == "account" %>' href='/me?sec=account'><i class='fal fa-street-view'></i> Account </a>
  
  <% if true || is_seller %>
  <a class='profile_tab btn' target=_blank href='/@<%=cu['handle']%>'>
     <i class='fa fa-external-link' style='margin-right: 5px'></i> My Page
  </a>    
  <% end %>
</div>