<%
  notes = $notes.get_many(item_id: item_id)
%>
<div class='notes_box'>
  <div class='notes_list <%=item_id%>'>
    <% notes.each do |note| %>
      <div class='single_note single_list_item'>
        <%= nice_datetime(note[:created_at]) %>: <%= note[:text] %>
      </div>
    <% end %>
  </div>
  <div>
    <form method=post action=/notes onsubmit="submitNote(); return false">
      <input id=new_note placeholder='add...' /><button> send </button>
    </form>
  </div>
</div>

<script>
function submitNote() {
  var input = $("#new_note");
  var text  = input.val();
  var data  = {text};
  $.post('/notes',{item_id: '<%=item_id%>', text}).then(res => {
    var html = `<div class='single_note'>${text}</div>`;
    $('.notes_list.'+'<%=item_id%>').append(html);
    input.val('');
  })
}
</script>