<%
  cities      = @cities || []
  cities = ['N/A'] unless cities.any?
  chosen_city = @chosen_city
  chosen_state_short = @chosen_state_short 
%>

<style>
.selector_container {
  display: inline-block;
  margin-right: 20px;
}
#me_form .selector_container .input1 {
  width: 100%;
}
.selector_label {
  font-size: 14px;
}
</style>

<% unless locals[:no_city] %>
<div class='selector_container'>
  <div class='selector_label'> City </div>  
  <select class='input1' style='margin:0;' id=city_selector name=city <% if locals[:searchOnChange] %> onchange='var loc="/delivery/"+$("#state_selector").val()+"/"+$(this).val(); document.location=loc' <% end %> >    
    <% cities.each_with_index do |city| %>
      <option value="<%=city%>" <%="selected" if chosen_city.to_s.downcase == city.to_s.downcase %>><%=city%></option>
    <% end %>
  </select>
</div>
<% end %>

<div class='selector_container'>
  <div class='selector_label'> State </div>
  <select class='input1' style='margin:0;' id=state_selector name=state <% if locals[:searchOnChange] %> onchange='document.location="/delivery/"+$(this).val()' <% end %> >
    <% ALL_STATES.sort.each_with_index do |state| %>
      <% state_short = AREAS[state][:short] %>
      <% state_value = state
         state_value = state_short if locals[:state_value] == 'short'  
         %> 
      <option value="<%=state_value%>" <%="selected" if chosen_state_short.to_s.downcase==state_short.downcase %>><%=state%></option>
    <% end %>
  </select>
</div>

<% if false && pr[:type] == 'seller' %>
<div class='selector_container'>
  <div class='selector_label'> Delivery/Pickup </div>
  <select class='input1' style='margin:0;' id=shipping_selector name=shipping <% if locals[:searchOnChange] %> onchange='rerunSearch()' <% end %> >
    <% ['Delivery', 'Pickup', 'Delivery & Pickup'].each_with_index do |shipping| %>
      <option value="<%=shipping%>" <%="selected" if pr[:shipping]==shipping %>><%=shipping%></option>
    <% end %>
  </select>
</div>
<% end %>