<%
  user = cast[:user] || $users.get(cast[:user_id]) || {}
  
  cast_pic = cast[:img_url]
  cast_pic = user[:img_url] unless (cast_pic.present? && CGI.unescape_html(cast_pic)!=DEFAULT_PIC)  
  cast_pic = DEFAULT_PIC unless cast_pic.present?
  
  user_pic = user[:img_url]
  user_pic = cast_pic unless user_pic.present? && CGI.unescape_html(user_pic)!=DEFAULT_PIC   
%>

<span class='cast_box single_type_box'>          
  <div class='cast_img_and_logistics'>
    <a class='single_type_box_image_link_container' href='<%=cast_link(cast)%>'>
      <% if cast[:public_video_url].present? %>        
        <video class=single_type_box_image muted zonmouseover="$(this)[0].play()" zonmouseout=$(this)[0].pause() controls>
          <source src="<%=cast[:public_video_url]%>" type="video/mp4">
          <source src="<%=cast[:public_video_url]%>" type="video/ogg">
        </video>
      <% else %>
        <img src='<%= cast_pic %>' class='single_type_box_image' />
      <% end %>

      <% if show_logistics_overlay(cast) %>
      <span class='cast_logistics_overlay'>
        <div><%= cast_logistics_overlay_text(cast)%></div>
        <% if cast[:payment_note].present? %>
        <div style='color: lightgreen' class='cast_logistics_payment_note'><%= cast[:payment_note] %></div>
        <% end %>
      </span>
      <% end %>
    </a>
  </div> 
  <div class='cast_box_text_and_img display_flex' style='margin-top: 10px; word-break: break-word;'>
    <div style='flex:1'>
      <a href='/@<%=user[:handle]%>'>        
        <img class='cast_box_user_img' src='<%=user[:img_url]%>' />        
      </a>
    </div>
    <div class='cast_box_text'>      
      <div class='cast_box_user'>
        <a href='/@<%=user[:handle]%>'> 
          <%= user[:handle] %> 
          <% if has_tag(user, 'green_check') %>
            <!-- <i class='check fa fa-check-circle'></i> -->
            <i class='check fas fa-badge-check'></i>
          <% end %>
        </a>
        <% if locals[:show_user_desc] %>
        <!-- <div class='cast_box_user_desc'>
          <%= user[:desc] %>
        </div> -->
        <% end %>
      </div>
      <a class='cast_box_text_title' href='<%=cast_link(cast)%>'>
        <h4 class='cast_box_title'><%= cast[:title] %>
        <!-- <div class='cast_box_desc'><%= cast[:desc] %></div> -->
          <% if false && (reviews = cast_reviews(cast[:_id])).size > 0 %>
          <% rating = reviews.select {|r| r[:rating].to_i >= 1 }.mapo(:rating).avg %>
          <div><small> <%= rating  %>⭐, <%= reviews.size %> reviews </small></div>
          <% end %>
        </h4>
      </a>
    </div>
  </div>
</span>