<%
  msg = 'Explore Top Cannabis Brands'
  city = pr[:city].present? ? "#{pr[:city]}" : ""
  state = pr[:state].present? ? "#{pr[:state]}" : ""
  shipping = pr[:shipping]
  msg = "Top Cannabis Recommendations in #{pr[:city]}" if pr[:city]
  msg = "Order Weed Now #{city}"
  msg = "Cannabis Delivery"
%>

<style>
.brands_list {
  zdisplay: flex;
  flex-wrap: wrap;
}
.single_brand {  
  flex: 25%;
  margin: 0 10px 10px 0px;
  ztext-align: center;
  border:1px solid lightgrey;
  zbackground-color: white;
  padding: 10px 0;
  border-radius: 4px;
  font-size: 16px;
  border-radius: 0;
  border: none;
  border-bottom: 2px solid black;
  zwidth: 50%;
  display: inline-block;
}
.single_brand:hover {
  border-color: grey;
  font-weight: bold;
  color: black;
}
.single_brand .brand_img { 
  height: 40px;
  max-width: 100%;
  object-fit: contain;
  margin-right: 20px;
}
.single_brand_container {
  /*background: linear-gradient(184deg, rgba(255,255,255,1) 0%, rgb(80 173 83) 35%);*/
  border:1px solid darkgreen;
  padding: 20px;
  border-radius: 0px;
  margin-bottom: 20px;
}
.brand_contact {
  font-size: 14px;
  font-weight: bold;
}
</style>
<!-- <h1> --> <%#= "Cannabis Delivery Services"%> 
  <div class='links_city_selector_container'>
    <%#= erb :'/partials/select_state_city', locals: {searchOnChange: true} %>      
    <%= erb :'/partials/select_area2', locals: {searchOnChange: true} %>
  </div>
  <br/>
<!-- </h1> -->
<div class='brands_list_container'>
  <div class='brands_list'>
  <% if brands.any? %>
    <% brands.each do |user| %>
      <div class='single_brand_container'>
        <a class='single_brand' href='<%=user_link(user)%>'>  
          <img class='brand_img' src='<%=user[:img_url]%>' />
          <span class='simple_link brand_handle'><%=user[:handle]%></span>          
          <span><small style='color: black; font-style: italic'> <%= user[:delivery_area] %></small></span>     
          <!-- <div><%= user[:desc] %></div>      -->
        </a>
        
        
          

        <% contact = user[:contact] %>
          <% if contact.present? %>
          <span class='brand_contact btn btn-raised btn-primary'>
          <i class='fal fa-link' style='margin-right: 10px; color: black'></i>
              <% if !contact.to_s.starts_with?('http') %>
                <a style='color: #150000' href="sms://+<%=contact%>?body=I%27m%20interested%20in%20your%20product.%20Please%20contact%20me."><%=user[:contact]%></a>
              <% else %>
                <a style='color: #150000' target=_blank href='<%=user[:contact]%>'> <%=user[:contact]%></a>            
            <% end %>
          <% end %>
          </span>
          <div style='margin-left: 20px; font-size: 16px;'>
            <%= user[:desc] %>
          </div>

        
      <% casts = $casts.get_many(user_id: user[:_id]) %>
      <%= erb :'casts/casts_list', locals: {casts: casts, show_product_categories: false} %>
      </div>
    <% end %>
  <% else %>
    <div class='no_brands_found'>
      Nothing listed yet in <%=city%>, <%=state%>. 
      <br/>
      <br/>
      Be the first to <a href='/signup?type=seller&city=<%=city%>&state=<%=state%>&shipping=<%=shipping%>' class='btn btn-raised btn-primary'>List Yourself.</a>
    </div>  
  <% end %>
  </div>
</div>