<%
  msg = 'Explore Top Cannabis Brands'
  city = pr[:city] || @cities[0]
#  state = pr[:state].present? ? "#{pr[:state]}" : SELECT_STATES_LIST[0]
  shipping = pr[:shipping]
  msg = "Top Cannabis Recommendations in #{pr[:city]}" if pr[:city]
  msg = "Order Weed Now #{city}"
  msg = "Cannabis Delivery"  

  if city.present?
    brands = $users.all(city: city, state: state)
  else 
    brands = []
  end

  #bp
  x=1
  _is_homepage = is_homepage
  # _is_homepage = false 
%>

<style>
.brands_list {
  zdisplay: flex;
  flex-wrap: wrap;
}
.main_h1 {
  display: inline-block; text-align: center; margin: 0; font-size: 18px; font-weight: normal; margin-bottom: 20px;
  width: 100%;
}
.main_h2 {
  font-size: 14px;
  text-align: center;
  display: inline-block;
}
</style>
  <div class='links_city_selector_container'>
    <%#= erb :'/partials/select_state_city', locals: {searchOnChange: true} %>      
    <%= erb :'/partials/select_area2', locals: {searchOnChange: true, zip_search: true} %>
  </div>
  <br/>

<!-- </h1> -->
<div class='brands_list_container'>  
  <!-- <a href='/signup?type=seller&city=<%=city%>&state=<%=state%>&shipping=<%=shipping%>' class='btn btn-raised btn-primary'>List Your Cannabis Service.</a> -->
  <!-- <br/>
  <br/> -->

  <div class='brands_list'>
      <div class=display_flex>
        <img src='/img/cannabis_delivery.jpg' style='width: 100px; flex: 1' />
        <% if false %>
          <h1 class='main_h1'> good weed, wherever it's legal. </h1> 
          <h2 class='main_h1'> Cannabis delivery, dispensaries, and top local brands. </h2>    
        <% else %>
          <div>
            <h1 class='main_h1'> good weed in <%= pr[:city] %>, <%= @chosen_state %>: </h1> 
            <h2 class='main_h1'> Cannabis delivery, dispensaries, and brands </h2>    
          </div>
        <% end %>
      </div>
      <% if true %>
        <%= erb :'search/area_posts', locals: {state: state, city: city} %>
          <%#= erb :'/brands/facet_filter', locals: {brands: brands} %>
        <% if brands.any? %>
          <%= erb :'/brands/subtype_filter', locals: {brands: brands} %>
          <h4 style='margin-left: 10px'> Recommended </h4>
          <% brands.each_with_index do |user, idx| %>
            <%= erb :'/brands/single_brand', locals: {user: user, idx: idx} %>
          <% end %>
        <% else %>
          <div class='no_brands_found'>
            No results found. Be the first!
            <br/>
            <br/>      
          </div>  
        <% end %>    
      <% end %>
  </div>
</div>