<%

  cast_owners = $casts.all.mapo(:user_id).uniq
  all_brands  = $users.all.select {|u| u[:type] == 'seller'}.select {|u| u[:_id].in?(cast_owners)}

  good_cast_ids = ['YNQqYcWAL', 'gPr6BRfRg', 'nRNwuBinl', 'c1kH9iX8Z', 'GQIkhxgXs', 'Ajx4sVD6E', 'eijAbrxpv', 'yZjuY33su', 'arJPs9izu', '5cvGxmNtF', 'scVXlGnrw', 'Lo2q6PP8i', 'gF7RiIkjQ', 'LE4tPWzTd', 'G5hUIACvj', 'WTiplOilp', 'eY3rmgMkU'].shuffle
  # good_cast_ids = ['s5pICJJUb']
  if $prod 
    casts = $casts.all(_id: {'$in': good_cast_ids })
  else 
    # good_cast_ids = ['s5pICJJUb']
    # casts = $casts.all(_id: {'$in': good_cast_ids })
    casts = $casts.all 
  end

  casts = casts.shuffle 

  brand = pr[:brand] 
  if brand
    user = $users.get(handle: brand)
    casts = casts.select {|c| c[:user_id] == user[:_id] }
  end 

  if pr[:city]

    user_ids_with_that_location = $locations.all.select {|loc| loc[:city] == pr[:city] }.mapo(:user_id)
    
    casts = casts.select {|c| c[:user_id].in?(user_ids_with_that_location) }
  end

  if pr[:product_type] 
    casts = casts.select {|c| c[:product_type] == pr[:product_type] }
  end

  # if pr[:casts]
  #   casts = 
  # end

  if pr[:q]
    casts = casts.select {|c| c.to_json.to_s.downcase.include?(pr[:q])}
  end
%>

<style>
.fa-caret-down {visibility: hidden; margin-left: 20px;}
.open .fa-caret-down {visibility: inherit;}
.open .fa-caret-up {visibility: hidden;}

.single_brand_search_link {
  cursor: pointer;
  border-radius: 10px;
  background-color:white;
  margin: 5px;
  display: inline-block;
  width: 80%;
  padding: 5px 10px;
  /*display: inline-flex;*/
}
.single_brand_search_link.selected {
  background-color: lightblue;
  color: white;
}
.single_brand_search_link:hover {
  font-weight: bold;
  border:1px solid black;

}
.product_type_selector, .brandSelector {
  flex: 1;
  zborder:1px solid blue;
  overflow-y: scroll;
}
.selectorBox.closed .single_brand_search_link { display: none; }
.single_brand_img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: contain;
}
.brand_text {
  font-size: 14px;
  margin-left: 10px;
}
</style>
<!-- <h1> Search </h1> -->
<div style='zheight: 100%; zmax-width: 1000px; margin: 0 auto'>
  <div class='displayFlex' style='height: 100%'>
  <div class='flex3' style='background-color: whitesmoke; padding-left: 20px; display: flex; flex-direction: column; padding-right: 20px'>    
    <div class='selectorBox brandSelector open'>
      <h5 onclick='$(this).parent().toggleClass("open").toggleClass("closed")'> 
        Brand 
        <!-- <i class='fal fa-caret-down'></i><i class='fal fa-caret-up'></i> -->
      </h5>
      <% if true %>
      <div class='selector_options_list'>
        <% all_brands.sort_by {|b| b[:handle]}.each do |brand_user| %>
          <% 
            brand = brand_user[:handle]
          %>
          <div>            
            <a class='single_brand_search_link <%=pr[:brand] == brand ? "selected" : "" %>' onclick='rerunSearch({brand: "<%=brand%>"})' <%="selected" if pr[:brand] == brand %>> 
              <img class='single_brand_img' src='<%=brand_user[:img_url]%>' />
              <span class='brand_text'><%= brand %></span>
            </a>  
          </div>
        <% end %>
      </div>
      <% else %>
      <!-- <select id='selectBrand' onchange='rerunSearch()'>
        <option value=""> Any </option>
        <% all_brands.each do |brand| %>
          <option value="<%=brand%>" <%="selected" if pr[:brand] == brand %>> <%= brand %> </option>
        <% end %>
      </select> -->
      <% end %>
    </div>
    
    <% if false %>
    <div class='selectorBox product_type_selector'>
      <h5> Product Type </h5>
      <%= erb :'/partials/select_product_type', locals: {searchOnChange: true} %>      
    </div>
    <% end %>
  </div>
  <div class='flex9' style='background-color: whitesmoke;'>  
    <div class='' style='text-align: left'>  
      <%= erb :'/search/search_inputs_row', locals: {searchOnChange: true} %>
    </div>
    <% if casts.any? %>
      <%= erb :'casts/casts_list', locals: {casts: casts} %>
    <% else %>
      
      <h5 style='padding:20px; background-color: lightblue; margin: 20px'> No Results Found. Check out some of our leading brands. </h5>
      <%= erb :'search/brands_list', locals: {brands: all_brands} %>
    <% end %>
  </div>
</div>

<script>
function rerunSearch(opts = {}) {
  var brand        = opts.brand || $('#selectBrand').val();
  var city         = $('#city_selector').val();
  var product_type = opts.product_type || $('#product_type_selector').val();
  var q            = $('.search_input').val();
  var loc   = '/search?p=1';
  if (brand)         loc+='&brand='+brand;
  if (city)          loc+='&city='+city;
  if (product_type)  loc+='&product_type='+product_type;
  if (q)             loc+='&q='+q;
  
  document.location=loc;
  
}
</script>