<%

  cast_owners = $casts.all.mapo(:user_id).uniq
  all_brands  = $users.all.select {|u| u[:type] == 'seller'}.select {|u| u[:_id].in?(cast_owners)}
  brands      = all_brands.clone

  good_cast_ids = ['YNQqYcWAL', 'gPr6BRfRg', 'nRNwuBinl', 'c1kH9iX8Z', 'GQIkhxgXs', 'Ajx4sVD6E', 'eijAbrxpv', 'yZjuY33su', 'arJPs9izu', '5cvGxmNtF', 'scVXlGnrw', 'Lo2q6PP8i', 'gF7RiIkjQ', 'LE4tPWzTd', 'G5hUIACvj', 'WTiplOilp', 'eY3rmgMkU'].shuffle
  # good_cast_ids = ['s5pICJJUb']
  if $prod 
    casts = $casts.all(_id: {'$in': good_cast_ids })
  else 
    # good_cast_ids = ['s5pICJJUb']
    # casts = $casts.all(_id: {'$in': good_cast_ids })
    casts = $casts.all 
  end

  casts = casts.shuffle 

  brand = pr[:brand] 
  if brand
    user = $users.get(handle: brand)
    casts = casts.select {|c| c[:user_id] == user[:_id] }
  end 

  if pr[:city]

    user_ids_with_that_location = $locations.all.select {|loc| loc[:city] == pr[:city] }.mapo(:user_id)
    
    casts = casts.select {|c| c[:user_id].in?(user_ids_with_that_location) }
    brands.select!{|user| user[:_id].to_s.in?(user_ids_with_that_location) }
  end

  if pr[:product_type] 
    casts = casts.select {|c| c[:product_type] == pr[:product_type] }
  end

  # if pr[:casts]
  #   casts = 
  # end

  if pr[:q]
    casts = casts.select {|c| c.to_json.to_s.downcase.include?(pr[:q])}
  end

  if pr[:q].present? && (user_matching = $users.get(handle: pr[:q]))
    return redirect to user_link(user_matching) 
  end
%>

<style>
.fa-caret-down {visibility: hidden; margin-left: 20px;}
.open .fa-caret-down {visibility: inherit;}
.open .fa-caret-up {visibility: hidden;}

.single_brand_search_link {
  cursor: pointer;
  border-radius: 10px;
  background-color:white;
  margin: 5px;  
  width: 80%;
  padding: 5px 10px;
  display: flex;
  color: #1F5151;
  align-items: baseline;
  /*display: inline-flex;*/
}
.single_brand_search_link.selected {
  background-color: lightblue;
  color: white;
}
.single_brand_search_link:hover {
  zfont-weight: bold;
  box-shadow: 1px 1px #cccccc;;
  color: #C2D3D1;
  color: black;
  
}
.product_type_selector, .brandSelector {
  flex: 1;
  zborder:1px solid blue;
  overflow-y: scroll;
}
.selectorBox.closed .single_brand_search_link { display: none; }
.single_brand_img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: contain;
}
.brand_text {
  font-size: 14px;
  margin-left: 10px;
}
@media (max-width: 1000px) {
  .main_search_area {
    overflow-y: scroll;
  }
  .search_screen_container {
    flex-direction: column;
  }
  .brandSelectorContainer {
    max-height: 30%;
  }
}
.selector_options_list {
  text-align: center;
}

</style>
<!-- <h1> Search </h1> -->
<div class='displayFlex search_screen_container' style='zheight: 100%; zmax-width: 1000px; margin: 0 auto; height: 100%'>
  <div class='flex3 brandSelectorContainer' style='background-color: whitesmoke; padding-left: 20px; display: flex; flex-direction: column; padding-right: 20px'>    
    <div class='selectorBox brandSelector open'>
      <h5> Recommended <i class='only-on-mobile-inline-block fal fa-close' onclick="$(this).closest('.brandSelectorContainer').css('display','none')"></i></h5>
      <!-- <h5 onclick='$(this).parent().toggleClass("open").toggleClass("closed")'> Brand</h5> -->
      <% if true %>
      <div class='selector_options_list'>        
        <% all_brands.sort_by {|b| b[:handle]}.each do |brand_user| %>
          <% 
            brand = brand_user[:handle]
          %>
          <div>            
            <a class='single_brand_search_link <%=pr[:brand] == brand ? "selected" : "" %>' onclick='rerunSearch({brand: "<%=brand%>"})' <%="selected" if pr[:brand] == brand %>> 
              <div class=ct>
                <img class='single_brand_img' src='<%=brand_user[:img_url]%>' />
              </div>
              <div class=ct>
                <span class='brand_text'><%= brand %></span>
              </div>
            </a>  
          </div>
        <% end %>
      </div>
      
      <% else %>
      <!-- <select id='selectBrand' onchange='rerunSearch()'>
        <option value=""> Any </option>
        <% all_brands.each do |brand| %>
          <option value="<%=brand%>" <%="selected" if pr[:brand] == brand %>> <%= brand %> </option>
        <% end %>
      </select> -->
      <% end %>
    </div>
  </div>
  <div class='flex9 main_search_area' style='background-color: whitesmoke; padding-bottom: 300px'>  
    <h5 class='ct only-on-mobile-inline-block' style='padding: 10px 20%'> Search Good-Weed </h5>
    <div class='' style='text-align: left'>  
      <%= erb :'/search/search_inputs_row', locals: {searchOnChange: true} %>

      <div class='map_wrapper'>
        <%= erb :'map/map', locals: {casts: casts} %>
      </div>
    </div>
    <% if casts.any? %>      
      <%= erb :'casts/casts_list', locals: {casts: casts, show_product_categories: true} %>
    <% else %>
      
      <h5 style='padding:20px; background-color: lightblue; zmargin: 20px'> No Results Found. </h5>
      <%= erb :'search/brands_list', locals: {brands: all_brands} %>
    <% end %>
  </div>
</div>

<script>
function rerunSearch(opts = {}) {
  var brand        = opts.brand || $('#selectBrand').val();
  var city         = $('#city_selector').val();
  var product_type = opts.product_type || $('#product_type_selector').val();
  var q            = $('.search_input').val();
  var loc   = '/search?p=1';
  if (brand)         loc+='&brand='+brand;
  if (city)          loc+='&city='+city;
  if (product_type)  loc+='&product_type='+product_type;
  if (q)             loc+='&q='+q;
  
  document.location=loc;
  
}
</script>