<%
  all_brands = $users.all.select {|u| u[:type] == 'seller'}.mapo(:handle)

  

  if pr[:brand] || pr[:city] || pr[:product_type]
    casts = $casts.all
  else 
    casts = []
  end

  brand = pr[:brand] 
  if brand
    user = $users.get(handle: brand)
    casts = casts.select {|c| c[:user_id] == user[:_id] }
  end 

  if pr[:city]

    user_ids_with_that_location = $locations.all.select {|loc| loc[:city] == pr[:city] }.mapo(:user_id)
    
    casts = casts.select {|c| c[:user_id].in?(user_ids_with_that_location) }
  end

  if pr[:product_type] 
    casts = casts.select {|c| c[:product_type] == pr[:product_type] }
  end

  # if pr[:casts]
  #   casts = 
  # end

  if pr[:q]
    casts = casts.select {|c| c.to_json.to_s.downcase.include?(pr[:q])}
  end
%>

<!-- <h1> Search </h1> -->
<div style='height: 100%; zmax-width: 1000px; margin: 0 auto'>
  <div class='displayFlex' style='height: 100%'>
  <div class='flex2' style='background-color: whitesmoke; padding-left: 20px'>    
    <div class='brandSelector'>
      <h5> Brand </h5>
      <select id='selectBrand' onchange='rerunSearch()'>
        <option value=""> Any </option>
        <% all_brands.each do |brand| %>
          <option value="<%=brand%>" <%="selected" if pr[:brand] == brand %>> <%= brand %> </option>
        <% end %>
      </select>
    </div>

    <div class='locationSelector'>
      <h5> State / City </h5>
      <%= erb :'/partials/select_state_city', locals: {searchOnChange: true} %>      
    </div>

    <div class='locationSelector'>
      <h5> Product Type </h5>
      <%= erb :'/partials/select_product_type', locals: {searchOnChange: true} %>      
    </div>
  </div>
  <div class='flex9' style='background-color: whitesmoke;'>  
    <div class='' style='text-align: left'>  
      <%= erb :'/search/search_inputs_row', locals: {searchOnChange: true} %>
    </div>
    <% if casts.any? %>
      <%= erb :'casts/casts_list', locals: {casts: casts} %>
    <% else %>
      <%= erb :'search/brands_list' %>
      <!-- <h3 style='padding:100px; background-color: lightblue; margin: 100px'> No Results Found :\ </h3> -->
    <% end %>
  </div>
</div>

<script>
function rerunSearch() {
  var brand        = $('#selectBrand').val();
  var city         = $('#city_selector').val();
  var product_type = $('#product_type_selector').val();
  var q            = $('.search_input').val();
  var loc   = '/search?p=1';
  if (brand)         loc+='&brand='+brand;
  if (city)          loc+='&city='+city;
  if (product_type)  loc+='&product_type='+product_type;
  if (q)             loc+='&q='+q;
  
  document.location=loc;
  
}
</script>