<%
# expects local called "cast"
  title = cast[:title]
  name  = owner[:name]
  time  = cast_time1(cast, only_content: true)
  link  = cast_link(cast)
%>

Thanks for enrolling in "<%= title %>" by <%= name %>! See you at <%= time %>.

<br/>
<br/>

Here's the link to the cast:
<br/>
<br/>

<a href="<%=link%>"><%= link %> </a>