<%

search = pr[:search]
search = cleanup_search(search)
@channel ||= search

@channel.present? ? (channels = [@channel]) : channels = HOMEPAGE_TOPICS

all_channel_casts = channels.map {|channel| 
  topic     = channel
  tag       = topic 
  subtopics = []
  if channel.is_a?(Hash)
    topic     = channel[:topic]
#    subtopics = channel[:subtopics]
    tag       = channel[:tag] || topic
  end
  {title: topic, casts: get_channel_casts(tag.to_s.downcase, must_have_tag: !@channel.present?), subchannels: subtopics} 
}

  is_submit_recommendation = pr[:submit]
# all_channel_casts = [{casts: homepage_casts}]

%>

<%= erb :'/home/css/home_css1.css' %>
<%= erb :'/home/css/video_bg.css' %>
<%= erb :'/home/css/home_css2.css' %>

<style>
.hp_single_user {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.single_hp_term {
  color: white;
  background-color: #f9647e;
  background: white;
  color: #00b140;
  padding: 10px;
  font-size: 20px;
  /*border-radius: 4px;*/
  margin-top: 10px;
  display: inline-block;
}

.single_hp_term:hover {
  /*background-color: #ab1a34;
  background-color: lightgreen;*/

  cursor: pointer;
  color: black;  
}

.single_mini_term {
  background-color: #099a6b;
  background-color: #00b140;
  color: white;
  padding: 10px;
  /*border-radius: 3px;*/
  font-size: 18px;
  width: 100%;
  display: inline-block;
  padding: 10px;
}
.single_mini_term:hover {
  background-color: #ab1a34;
  background-color: lightgreen;
  color: black
}

.single_hp_term_container:hover .single_hp_term {
  background-color: #00b140;
  color: white;
}

.single_hp_term .fa { display: none; }
.single_hp_term .fal { display: inline-block; }
.single_hp_term_container:hover .fa { display: inline-block; }
.single_hp_term_container:hover .fal { display: none; }

.single_hp_term_container { 
  display: inline-block; 
  position: relative;
}  
@media(max-width: 1000px) {
  .single_hp_term_container.selected .mini_terms_list {
    display: block;
    position: relative;
  }
}
.single_hp_term_container .mini_terms_list { 
  /*border: 1px solid red;*/
  position: absolute;
  left: 0;
  top: 100%;
  text-align: left;
  z-index: 10;
  display: none;
}
.single_hp_term_container:hover .mini_terms_list { display: inline-block; }

.single_hp_term_container.selected .single_hp_term {
  background-color: lightgreen;
  color: black;
}

.sub_main_title { 
  font-size: 70%;
  display: inline-block;
  font-weight: normal;
  line-height: 1.5;
  position: relative;
}
.above_terms {
  background-color: white;
  padding: 5px 10px;
  margin-bottom: 10px;
  display: inline-block;
}

.registration_open {
  position: absolute;
  background-color: maroon;
  color: white;
  padding: 10px;
  display: none;
}

.sub_main_title .focus {
  font-weight: bold;
  color: darkred;
}

.sub_main_title .focus:hover {
  color: darkblue;
  cursor: pointer;
}
.hp_header {
  /*text-align: left;*/
  /*max-width: 1200px;*/
  margin-left: auto;
  margin-right: auto;
}

.hp_header h1 {
  font-size: 35px;
}
.hp h1, .hp h2, .hp h3, .hp h4 {
  font-weight: normal;
}
.langs_list {
  margin-top: 20px;
  font-size: 70%;
  color: grey;
}

.hp_reviews_list {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.hp_review {
  border:1px solid black;
  margin-bottom: 20px;
}
.hp_review_container {

}
.hp_review_top {
  padding: 15px;
    text-align: left;
    background-color: whitesmoke;
}
.hp_review_body {  
  padding: 15px;
}
</style>

<div class='hp ct'>

  <div class='hp_header'>
    <% 
      msg2 = '<span class="nowcast_color">Online</span> classes. Live <span class="nowcast_color">teachers</span>  and <span class="nowcast_color">freelancers.</span> </h4>'
      msg1 = 'Just take an <span class="nowcast_color">online course on nowcast.</span></h1>'

      msg1 = 'Gutenweed'
      msg2 = 'recommendations'
      terms = CAST_TYPES_PLURAL

      terms = ['Coding', 'Tech', 'Business', 'Fitness', 'Lifestyle', 'Languages']
      terms = ['San Francisco', 'New York City', 'London', 'Berlin', 'Tel Aviv']
      # if _req.path
      search     = pr[:search].to_s.downcase
      show_terms = !pr[:search] 
      show_terms = false
      sub_terms  = []
      mini_terms = []


      def get_sub_terms(term)
        subterms = {
          'tel aviv': ['Jerusalem', 'Haifa', 'Rishon', 'Beer Sheva', 'אילת'],
          'coding': ['JavaScript', 'CSS', 'Ruby', 'Python', 'React', 'Angular', 'Vue', 'Tutors', 'Bootcamps'],
          'tech': ['SQL', 'Git', 'Wordpress', 'Photoshop', 'Sketch', 'Cybersecurity'],
                    
          'zlearn online tech skills': ['Coding', 'UI/UX', 'Graphic Design', 'Data Science', 'Cybersecurity', 'QA', 'Online Marketing', 'Online Sales'],
          'business': ['Interviewing Skills', 'Digital Marketing', 'Social Media Management', 'SEO', 'Content Writing', 'Video Production', 'Content Marketing', 'Product Marketing', 'Sales', 'Branding'],
          fitness: ['Yoga', 'Pilates', 'Dancing', 'Weight-Loss', 'Workouts', 'Coaching'],
          
          'lifestyle': ['Meditation', 'Emotional Support', 'Therapy', 'Coaching', 'Mentoring', 'Spirituality', 'Christianity'],

          languages: ['English', 'Spanish', 'Chinese', 'Japanese', 'French', 'Italian', 'Russian', 'Hebrew', 'Arabic', 'Greek'],
        }.hwia
        return []
        return subterms['coding']
        return subterms[term.to_s.downcase] || []
      end

      # sub_terms = languages_terms if (search == 'languages') || search.in?(languages_terms.map(&:downcase))      
      # sub_terms = tech_terms if (search == 'tech') || search.in?(tech_terms.map(&:downcase))
      # sub_terms = fitness_terms if (search == 'fitness') || search.in?(fitness_terms.map(&:downcase))      
      # sub_terms = business_terms if (search == 'business') || search.in?(business_terms.map(&:downcase))      
      # sub_terms = mental_terms if (search == 'mental well-being') || search.in?(mental_terms.map(&:downcase))      
      # sub_terms = hobby_terms if (search == 'hobbies') || search.in?(hobby_terms.map(&:downcase))      
        
      
      
      # if @teach 
      #   msg1 = 'Teach a <span class="nowcast_color">live class </span> on <span class="nowcast_color"> nowcast.</span>'
      #   msg2 = "<span class='nowcast_color'>nowcast</span> is the easiest platform to make money teaching online <span class='nowcast_color'>live courses and classes.</span>"        
      #   # terms = ['Virtual Classroom', 'Video Conferencing', 'Payment Processing', 'Student Management', 'Online Collaborative Coding Boards', 'Model Pre-Prepared Curriculums', 'Custom Features Per Class Type']
      #   terms = ['Virtual Classroom', 'Video Conferencing', 'Payments', 'Student Management', 'Remote Collaboration Tools', 'Model Curriculums', 'Custom Features']
      # end
    %>

    
    <h1 class='nowcast_color' style='display: inline-block; margin:20px 20px 0px 10px; font-weight: bold'><%=msg1%></h1>    
    <div style=''>
      <% 
        msg2 = 'recommendations'
        show_search = true
        if is_submit_recommendation 
          msg2 = ''
          show_search = false
        end
      %> 
        <% if show_search %>
        <form action='/' method='get'>
          <input name=q value="<%=pr[:q]%>" style='border-radius: 4px; font-size: 18px; padding: 10px; width: 400px; margin: 50px;' placeholder='Search...' />
          <input name=type value="<%=pr[:type]%>" hidden />
          <button class='btn btn-lg btn-raised btn-info'> Search </button>
        </form>
        <% end %>
        <!-- <h3 style='padding:10px; margin: 0'><%=msg2%></h3>     -->
        <div style='margin-bottom: 40px'>
          <%
            pr[:type] = pr[:type] || 'sellers'
          %>
          <a class="btn btn-primary <%="btn-raised" if pr[:type]=="sellers"%>" href='/?q=<%=pr[:q]%>&type=sellers'>sellers</a>
          <a class="btn btn-primary <%="btn-raised" if pr[:type]=="reviews"%>" href='/?q=<%=pr[:q]%>&type=reviews'>reviews</a>

        </div>
      
    </div>
    

  <% if @teach %>
  <%#= erb :'home/hp_features', locals: locals %>       
  <% end %>

  <% if !search_input_on_top %>

  <% if show_terms %>
  <h3 style='    text-align: center;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 40px;'>
    <% terms.each_with_index do |term, idx| %>
      <div class='single_hp_term_container <%="selected" if pr[:city].to_s.downcase==term.to_s.downcase%>'>
      <a href='/?city=<%=term.to_s.downcase%>' class='single_hp_term'><%= term %> 
        <% if false %>
        <i class='fal fa-caret-down'></i>
        <i class='fa fa-caret-down'></i>        
        <% end %>
      </a>
        <span class='mini_terms_list'>
            <%           
            get_sub_terms(term).each_with_index do |subterm, idx| %>
              <a href='/?search=<%=subterm.to_s.downcase%>' class='single_mini_term'><%= subterm %></a>
            <% end %>
        </span>
      </div>
    <% end %>
  </h3>
  <% end %>

  <% if show_cities = false %>
  <div>
    <% 
      cities = ['מרכז', 'צפון', 'ירושלים', 'דרום']#.sort
    %>
    <br/>
    <select>
      <% cities.each do |city| %>
      <option value="<%=city%>"><%=city%></option>
      <% end %>
    </select>
    <br/>
    <br/>
  </div>
  <% end %>

  <%
    if is_submit_recommendation
  %>
    <%= erb :'reviews/submit_review_form', locals: {seller: nil} %>
  <% 
    elsif pr[:type] != "reviews"
      users   = $users.get_many 
      users = users.select {|u| "#{u[:name]} #{u[:desc]} #{u[:location]}".to_s.include?(pr[:q])
      } if pr[:q]
  %> 

    <%= erb :'users/users_list', locals: {users: users} %>
  <% else # reviews %> 
    <% 
      reviews = $reviews.get_many.reverse
      reviews = reviews.select {|r| "#{r[:text]} #{r[:seller_name]}".to_s.include?(pr[:q])} if pr[:q]
      reviews.each do |review| 
    %>
    <div class='hp_reviews_list'>
      <%= erb :'reviews/single_hp_review', locals: {review: review} %>
    </div>
    <% end %>
    
  <% end %>

  <div style='display: none'>
    <span class='sub_main_title' style='font-size: 100%; zbackground-color: pink; zmargin-bottom: 20px'>
      <!-- Apply for an online school.
      <br/>  -->  
      <!-- <span style='margin:20px; display: inline-block;'><input style='width: 100%' class=input placeholder='spanish class'/></span> 
      <button class='btn'> search </button> -->      
      <!-- <span style='margin:10px'>or</span> -->
      <% if false %>
      <div>
      <span><a href='/signup?type=star' class='nowcast_color2' style='font-size: 70%'>
        <button class='btn2'><i class='zfal fa-user' style='margin-right:5px'></i> list yourself</button>
        Join us to.
        </a>
      </span>
      </div>
      <% end %>
      
      <% if pr[:search] && is_admin && false %>
        <%= erb :'search/advanced_search' %>
      <% end %>      
    </span>
  </div>
  <% end %>


    <%= erb :'layout/footer' %>  
  </div>   
</div>
</div>
