<%
  target   = pr[:user_id]
  user_ids = [target,cuid].sort
  msgs = $convo_msgs.get_many(user_ids: user_ids)
%>

<style>
.convo_container {
  max-width: 800px;
  margin:auto;
}
.single_convo_msg {
  border:2px solid lightgrey;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  display: block;
}
.convo_sender img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.convo_sender {
  font-size: 15px;
}
.convo_text {
  font-size: 16px;
  padding:20px 10px;
  display: inline-block;
}
.convo_time {
  font-size: 10px;
  color: grey;
}
</style>

<div class='convo_container'>
  <h1> Convo </h1>
<% msgs.each do |msg| %>
  <% sender_user = $users.get(msg[:sender]) %>
  <div class='single_convo_msg'>
    <a target=_blank class='simple_link' style='padding:10px' href='/@<%=sender_user[:handle]%>'>
      <span class='convo_sender'>
        <img src="<%=sender_user[:img_url]%>" />
        <%= sender_user[:handle] %>
      </span> 
    </a>
    <div><span class='convo_text'><%= msg[:text] %></span></div>
    <div><span class='convo_time'> <%=msg[:created_at]%></span></div>

  </div>
<% end %>
<br/>
<form method=post action=/convo/msgs>
  <input hidden name=target value="<%=target%>" />
  <input class=input1 placeholder='Say something...' name=text />
  <button class='btn btn-primary btn-raised'> Submit </button>
</form>
</div>