<%
#  customer = customer.hwia
  customer_fields = ['name', 'description', 'notes']
%>

<style>

</style>

<br/><br/>
<%= erb :'me/profile_tabs', locals: {is_seller: true, sec: 'customers'} %>     
<div class='ct'>
<h1> Customer Form: <%= customer[:name] %> </h1>

<br/><br/>
<form method=post action='/customers/<%=customer[:_id]%>'>
  <div>  
    <% customer_fields.each do |field| %>
    <label class='customer_label' style='width: 300px; margin-bottom: 10px; text-align: left'> <%= field %></label>
    <input name="<%=field%>" value="<%=customer[field]%>" />
    <br>
    <% end %>
  </div>
  <button class='btn btn-primary btn-raised'>Submit </button>
</form>